@model IEnumerable<GamingWiki.Web.Models.Games.GameSimpleModel>

@*@section Styles{
    <link href="/css/all-games.css" rel="stylesheet" />
}*@

<section id="recent-games">
    <h1 align="center" style="font-weight: bold">All Games</h1>
    <div class="flex">
        @foreach (var game in Model)
        {
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <img class="card-img-top" src="@game.PictureUrl" alt="Game image">
                <div class="card-body">
                    <h4 class="card-title">@game.Name</h4>
                    <h6 class="card-title">Designed by: @game.Creators</h6>
                    <a href="/Games/Details?gameId=@game.Id" class="btn btn-info">See more</a>
                </div>
            </div>
        }
    </div>
</section>
