<div class="geme-social-share pt-5 d-flex">
    <p>Share:</p>
    <a href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a>
    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/"><i class="fa fa-twitter"></i></a>
    <a href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
    <a href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
</div>