@model ErrorViewModel

@{
    ViewBag.Title = "Error";
}

<section class="games-section">
    <div class="container text-center">
        <h1 class="text-warning">Oops! @Model.Message</h1>
        <br />
        <img src="https://media.giphy.com/media/xTiN0L7EW5trfOvEk0/giphy.gif" alt="Error Gif" />
    </div>
</section>