@{
    ViewBag.Title = "Info";
}

<section class="hero-section overflow-hidden">
    <div class="hero-slider owl-carousel">
        <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/img/slider-bg-1.jpg">
            <div class="container">
                <h2>Gaming Wiki</h2>
                <p>
                    <br />
                    Here you will find everything you need to know about
                    <br />
                    your favorite
                    <a asp-controller="Games" asp-action="All">Games</a> and
                    <a asp-controller="Characters" asp-action="All">Characters</a>.
                    <br />
                    <br />
                    Want to find out if a game is worth playing?
                    <br />
                    Check out a <a asp-controller="Reviews" asp-action="All">review</a> or add one.
                    <br />
                    <br />
                    Got informed about some news or upcoming updates?
                    <br />
                    Keep other gamers updated by writing
                    <a asp-controller="Articles" asp-action="All">articles</a>.
                    <br />
                    <br />
                    Stuck in a game level? Don't worry!
                    <br />
                    Find some helpful <a asp-controller="Tricks" asp-action="All">Tips & Tricks</a>.
                                      <br />
                    <br/>
                    Want to make new friendships and keep in touch with other gamers?
                    <br />
                    Chat with them with our real-time <a asp-controller="Discussions" asp-action="All">discussions.</a>
                </p>
            </div>
        </div>
    </div>
</section>
