<section class="hero-section overflow-hidden">
    <div class="hero-slider owl-carousel">
        <div class="hero-item set-bg d-flex align-items-center justify-content-center text-center" data-setbg="/img/slider-bg-1.jpg">
            <div class="container">
                <h2>Gaming Wiki</h2>
                <p>Here you will find everything you need to know about gaming.</p>
            </div>
        </div>
    </div>
</section>
